doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    title Cloning Zoom
  body
    header 
      h1 Cloning Zoom
    main 
      div#welcome
        form
          input(type="text" placeholder="room name", required)
          button Enter Room
      div#call(hidden)
        div#myStream
          Video#myFace(autoplay, playsinline, width='400' height='400')
        select#cameras
        button#mute Mute
        button#camera Camera Off
    script(src="/socket.io/socket.io.js") 
    script(src="/public/js/app.js") 